
rapidfuzz==3.3.0
# -e git+https://github.com/yuchenlin/rebiber.git@a4e024042f56bf665b9c9f53974b5652c261f79e#egg=rebiber  # 跳过网络问题包
regex==2023.8.8
requests==2.31.0
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
scitools-pyke==1.1.1
sentence-transformers==2.2.2
#sentencepiece==0.1.99
setuptools==68.0.0
six==1.16.0
smart-open==6.4.0
snowballstemmer==2.2.0
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.7
sympy==1.12
thinc==8.1.9
tokenizers==0.13.3
toml==0.10.2
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.65.0
transformers==4.33.3
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
wasabi==1.1.2
wheel==0.41.2